# macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?

# Windows system files
ehthumbs.db
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
